#container {
	margin: auto;
	width: 900px;
}

#sticky {
	margin-top: 5px;
	margin-bottom: 20px;
	margin-right: 0px;
	color: #000000;
	background-color: #ffb238;
	width: 100%;
	border-radius: 7px;
}

body {
	background-color: #ffffff;
}

#map {
    width: 500px;
    height: 400px;
    border-radius: 7px;   
}

#responsive-map{
	width: 100%;
	height: 100%;
	margin-top: 20px;
}
#nav-logo {
	height: 50px;
	width: 50px;
}
#thomond  {
	height: 100%;
	width: 100%;
}
#interior  {
	height: 100%;
	width: 100%;
}

.panel-title  {
	color: #98b700;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-family: arial;
    font-weight: normal !important;
}
h2{
	color: #0289d6;
}

.items-container-rounded { 
	border: 2px solid #0289d6;
    margin-bottom: 10px;
    border-radius: 10px;
}

.panel-heading {
	
	margin-bottom: 10px;
	border-radius: 10px; 
}
	
footer {
	margin-top: 10px;
	background-color: #333;
	height: 100px;
	display: clear both;
	border-radius: 7px;
}
footer p{
	color: #ffffff;

}
#description {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 220px;
	background-color: #98b700;
	border-radius: 7px;
	color: #ffffff;
	
}

#description p {
	padding: 10px;
}

img {
	border-radius: 7px;
}	

#facilities {
	height:150px;
	border: 2px solid #ffbf00; 
	border-radius: 7px;

}

.three-column {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}